body {
    font-family: Arial, sans-serif;
  }

  .logo-text-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 15px; 
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
  }
  
  .channel-name {
    margin: 0;
    font-size: 1.5em; 
  }
  
  .channel-description {
    margin: 0;
    font-size: 1em;
    color: #555; 
  }