*{
    margin: 100px;
    padding: 0px;
    background-color: rgb(66, 65, 65);
    color: white;
}
h3{
    background-color: aliceblue;
    color: rgb(66, 65, 65);
}
.Qualification,th,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
}
.no-border,th,tr,td{  
    border: none;
    
}
